#selector{
    border: 1px solid blue;
}

.row{
    border: 1px solid red;
}

#input{
    border: 1px solid green;
    position: relative;
}

#boton{
    float: right;
}

.container{
    border: 1px solid black;
}